<html>
    <head>
        <title>Yo's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Yo's blog</a></h1>
        </div>

        <div>
            <p>published: 15.05.2023, 14:23</p>
            <h2><a href="">My first post</a></h2>
            <p>Django is interesting!</p>
        </div>

        <div>
            <p>公開日: 2023/05/15, 14:23</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>ラーメン食べて眠くなった</p>
        </div>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>